{
    "doubleQuote": false,
    "singleQuote": true,
    "jsxDoubleQuote": false,
    "jsxSingleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "tabWidth": 4,
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascriptreact]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    }
}