@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* {
    margin: 0;
    padding: 0;
    overflow-x: 0;
    font-family: 'Pretendard', sans-serif;
}

/*
@media (min-width: 576px) {
    .wrapper {
        width: 390px;
        margin: 0 auto;
    }
}*/

:root {
    /* color */
    --black: #171717;
    --dark-gray: #767676;
    --gray: #999999;
    --light-gray: #d8d8d8;
    --pale-gray: #f5f5f5;
    --white: #ffffff;
    --dark-green: #018c0d;
    --green: #99d19e;
    --light-green: #cce8cf;
    --pale-green: #e6f4e7;
    --red: #e05363;

    /* font */
    --korean: 'Pretendard', sans-serif;
}

:body {
    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

/* swiper */
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    font-size: 2vh;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.mySwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.9vh;
}
